<!DOCTYPE html>
<head>
  <title>Automatic Victorian Novelist</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<style>
p {
  text-align: center;
  width: 600px;
}
</style>
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Expand My Prose</h3>
  <p style="width: 600px">The Victorian novelist had a habit of expanding my rather mundane utterances into beautiful, wandering prose without changing my original meaning. For example:</p>

  <p> I wrote "He was average." He would rephrase: "He was, in the way of most men, possessed of a rudimentary intelligence, his countenance ordinary, his bearing mild, with some weakness about the shoulders, his hair the color of ash; he spoke of the weather."
  </p>

  <p>I wrote "It's a good thing America got to the moon first." He would rephrase: "It is a matter of singular wonder that America, being the chief seat of learning and the repository of all arts and sciences, made herself mistress of the heavens, and in so doing reached across the blackness of cosmos to touch the gleaming silver moon."
  </p>
  <form action="/" method="post">
    I wrote:
    <input type="text" name="statement" placeholder="Enter words" required />
    <input type="submit" value="Rephrase As Victorian Prose" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
